<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Información</h1>
    <h4>Información Enviada</h4>
    <ul><li>Nombre: {{proceso['nombre']}}</li>
        <li>Ubicación: {{proceso['ubicacion']}}</li>
        <li>Lenguaje: {{proceso['lenguaje']}}</li>
        <li>Nivel de conocimiento: {{proceso['conocimiento']}}</li>
        <li>Años de experiencia: {{proceso['experiencia']}}</li>
        <li>Comentario: {{proceso['comentario']}}</li>
    </ul>
</body>
</html>